*{
	padding: 0;
	margin: 0;
}
body{
	background-color:#E6E8E8;
}
h1{
font-family: 'Raleway', sans-serif;
font-family: 'Texturina', serif;
font-size: 60px;
padding: 0;
margin: 0;
text-align: center;
}
header{
	width: 100%;
}
/*MENU*/
.nav{
	width:949px;
	margin: 30px auto;
	background-color:#5C6363;
	border:2px solid black;
}

.nav ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 40px;
	color:white;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-family: 'Texturina', serif;
	font-size: 20px;
	
}

.menu li a:hover{
	color:green;
	transition: all .3s;
	background-color:#E6E8E8;
}

p{
font-family: 'Xanh Mono', monospace;
font-size: 22px;
text-align: center;	
}
/*CONTENEDORES*/
.contenido{
	float: right;
	margin:0 250px 0;
	padding: 20px;
	background-color: white;
	border:2px solid black;
}
.imagen{
	float:right;
}
footer{
	text-align: center;
}