body{
	background-color:#E6E8E8;
}
*{
	padding: 0;
	margin: 0;
}
h1{
font-family: 'Raleway', sans-serif;
font-family: 'Texturina', serif;
font-size: 70px;
padding: 0;
margin: 0;
text-align: center;
}
header{
	width: 100%;
}
/*MENU*/
.nav{
	width: 1107px;
	margin: 30px auto;
	background-color:#5C6363;
	border:2px solid black;
}

.nav ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 40px;
	color:white;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-family: 'Texturina', serif;
	font-size: 20px;
	
}

.menu li a:hover{
	color:green;
	transition: all .3s;
	background-color:#E6E8E8;
}
h2{
	font-size: 40px;
	color:green;
}
.izquierda{
	border: 2px solid black;
	float:left;
	width:28%;
}
.derecha{
	border: 2px solid black;
	float:right;
	width: 29%;
}
.centro{
	border: 2px solid black;
	display:inline-block;
}
p{
	font-size: 30px;
}
section{
	background-color:#E6E8E8;
}